:root {
    --purple: #5E17EB;
    --light-purple:#9d72f3;
    --dark-purple: #4910bc;
    --gray: #c3c3c6;
    --dark: #000000;
    --light: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-indent: 0px;
}

body {
    background: var(--dark);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ul {
    list-style-type: none;
}